<h2 class="display-4 text-primary font-weight-bold"><%= @news.title %></h2>
<p><%= @news.content %></p>
<hr class="border-bottom border-2">

<% if user_signed_in? && current_user == @news.user %>
  <div class="btn-group">
    <%= link_to 'Editar Noticia', edit_news_path(@news), class: 'btn btn-primary' %>
    <%= button_to 'Borrar Noticia', @news, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-danger' %>
  </div>
<% end %>


<h3>Comentarios:</h3>
<% @news.comments.each do |comment| %>
    <p>
        <strong>
            <%= comment.user ? (comment.user.email == 'invitado@tudominio.com' ? 'Invitado'
            : comment.user.name) : 'Invitado' %>
        </strong>:
        <%= comment.content %></p>

    <% if user_signed_in? && (current_user == comment.user || current_user.admin?) %>
        <%= button_to 'Borrar Comentario', news_comment_path(@news, comment), method:
        :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-danger', remote:
        true %>

    <% end %>

<% end %>

<%= render 'comments/form', news: @news %>

<div class="container">
    <br>
        <%= link_to "Volver a Noticias", news_index_path, class: 'btn btn-secondary' %>
</div>

